<app-editor [data]="detail" *ngIf="hideeditor"></app-editor>
 
<h2 style="text-align: center;" *ngIf="hidebody">Ajoute Des Design</h2>
<br><br>
<div class="select col-4;">
  <label for="">Thèmes:</label>
  <select name="theme" id="theme" class="form-control" (change)="onchange($event)" >
    <option value="Choisissez un thème"></option>
    <option *ngFor="let item of theme" [value]="item">{{item}}</option>
  </select>
</div>

<br><br>
<!-- Upload  -->
<form id="file-upload-form" class="uploader" *ngIf="hidebody">
  <input id="file-upload" type="file" name="fileUpload"  (change)="uploadimage($event)" />

  <label for="file-upload" id="file-drag">
      <div class="img" >
        <div class="im" >
            <img id="file-image" [src]="imag" width="100" alt="" >
        </div>
      </div>
    
    <div id="start" *ngIf="hide">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary" (change)="uploadimage($event)">Select a file</span>
    </div>
    
  </label>
  <span  class="btn btn-primary" style="width: 100%;" (click)="AddDesign()"><i class="fa fa-save" aria-hidden="true"></i> Ajouter</span>
</form>>