<br><br>
<br>

 <div class="sidebar">
    <a href="#packaging">Emballages</a>
    <a  href="#gadgets">Gadgets</a>
    <a href="#clothes">Vetements</a>
    <a href="#other">Imprimés</a>
    <a href="#clothes">Affichages</a>
  </div>