
<div class="row">


    <div class="sidebar">

        <a class="btn" data-bs-toggle="collapse" data-bs-target="#text" title="Texte" aria-expanded="false" role="button" ><i class="far fa-text"></i><br>
            Text

          </a>


          <a class="btn" data-bs-toggle="collapse" data-bs-target="#shapes" title="Les formes"><i class="fa fa-shapes"></i>
            Shapes
          </a>
          <label for="file">
          <a class="btn"  title="fichier">
            <i class="far fa-download fa-2x"></i>
            importer
          </a>
        </label>
          <input type="file" id="file" (change)="onFileUpload($event)" style="max-width:2em; margin-left: 0em;" hidden="true" >


          <a class="btn" role="button" (click)="register()">
           register
          </a>
          <div class="spinner-grow" role="status" *ngIf="Isokey">
            <span class="sr-only">Loading...</span>
          </div>

      </div>
     

      <div  class="menu">
      <div class="row" style="max-width: 100%; overflow-y: scroll;">

        <div class="collapse" id="text" style="max-width: 100%;">
          <div class="card card-body" style="max-width: 100%;">
            <div class="mb-3">
              <label for="yourtext" class="form-label">Text</label>
              <input type="text" class="form-control" id="yourtext" placeholder="SUP'COM " [(ngModel)]="text" (input)="InputChange(text)"><br>

            </div>
            <div class="mb-3">
              <select class="form-control" name="myfont" id="myfont" (change)="textfont($event)">
                <option *ngFor="let item of fonts" [value]='item.name + "*" +item.url'>{{item.name}}</option>
              </select>
            </div>

            <div class="mb-3">
              <a (click)="makeBold()" role="button" title="bold"><i class="fas fa-bold"></i></a>
              <a  (click)="makeItalic()" role="button" title="italic"><i class="fad fa-italic"></i></a>


              <a role="button" title="align rght" (click)="textAlign(textalign[3])">
                <i class="fad fa-align-right"></i>
              </a>
              <a role="button" title="align left" (click)="textAlign(textalign[0])">
                <i class="fad fa-align-left"></i>
              </a>

              <a  role="button" title="justify" (click)="textAlign(textalign[2])"> <i class="fas fa-align-justify"></i></a>

              <a (click)="copy()" role="button" title="copy"><i class="far fa-copy"></i></a>

              <a (click)="paste()" role="button" title="paste">
                 <i class="fal fa-clone"></i>
              </a>

              <a role="button" title="fonts" (click)='addText()'>
                <i class="fas fa-font"></i>
              </a>

              <a data-bs-target="#color" data-bs-toggle="collapse" aria-expanded="false" role="button" title="color">

                <i class="far fa-paint-brush-alt"></i>
              </a>

              <br>
              <a role="button" title="undo" id="undo">

                <i class="fas fa-undo-alt"></i>
              </a>

              <a role="button" title="redo" id="redo">
                <i class="fas fa-redo-alt"></i>
              </a>

               <a (click)="removeItem()" role="button" title="remove">
                <i class="far fa-trash-alt"></i>

              </a>

              <a (click)="underlineText()" role="button" title="underline">

                <i class="far fa-underline"></i>
              </a>


              <a (click)="overlineText()" role="button" title="overline">

                <i class="far fa-overline"></i>
              </a>



            </div>


            <div class="mb-3 collapse" id="color">
              <div class="row">
                <div class="card-body" >
                  <color-circle [colors]="colors" (onChange)="texteclor($event)"></color-circle>
                  <br>
                  <br>
                  <a role="button" data-bs-toggle="modal" data-bs-target="#colo" style="color: #324161;justify-content: center;">
                    <i class="fa fa-circle fa-2x" aria-hidden="true" style="color: blue;"></i>
                    plus de couleur
                  </a>
                  
                </div>


              </div>
            </div>



          </div>


        </div>

        <div class="modal fade" id="colo" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <color-sketch (onChange)="texteclor($event)" style="width: 100px;height: 100px;"></color-sketch>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Appliquer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse" id="shapes" style="max-width: 100%;">
          <div class="card card-body" >
            <div class="row">
              <div class="col-2" style="display: contents;">
            <div class="mb-3 " *ngFor="let item of clipart">
              <img [src]="item.url" height="100" width="100" (click)="setItem($event)">

            </div>
          </div>
          </div>
          </div>
        </div>

        <div class="collapse" id="chatbot" style="max-width: 100%;">
          <div class="row">
            <app-chatbot style="max-width: 30%;"></app-chatbot>

          </div>
        </div>



        <div class="mb-6 collapse" id="SIZE">
          <div class="row">
            <div class=" card card-body">
              <div id="settingmenu">
                <h6>
                  <a role="button" class="btn">
                    <i class="fas fa-send-backward fa-2x" role="button" title="send to back"></i>

                  </a>
                  <a role="button" class="btn">
                    <i class="far fa-copy fa-2x" role="button" title="copy" (click)="copy()"></i>

                  </a>
                  <a role="button" class="btn">
                    <i class="far fa-paste fa-2x" role="button" title="paste" (click)="paste()"></i>

                  </a>

                </h6>

              </div>
              <hr>

             <label for="yourwidth" class="form-label">
               L:
            </label>
             <input type="text" class="form-control" id="yourwidth" placeholder="300 " [(ngModel)]="width" ><br>
             <label for="yourwidth" class="form-label">
              H:
           </label>
            <input type="text" class="form-control" id="yourwidth" placeholder="300 " [(ngModel)]="height" >
            <br> <br>

           <button  type="submit" class="btn btn-success" (click)="resize()">
             submit
           </button>

              <div class='col-xs-6'>
              <input type='range' class='pull-left' min='100' max='1200' step='100' (input)='InputSize()' [(ngModel)]='width' width="100px"/>

            </div>

            </div>

          </div>
        </div>


      </div>

      </div>

         <div class="canvas-body">
           <div id="wrapper">
            <canvas id="canvas-wrapper"> </canvas>

           </div>

      </div>
      <div class="mg mg1" role="button" style="border: solid 1px #eee;" >
        <img class="marg" [src]="faces[0]" width="100" alt="">
      </div>
      <div class="mg mg2" role="button" style="border: solid 1px #eee;">
        <img class="marg" [src]="faces[1]" width="100" alt="">
      </div>
      <div class="style" hidden>
        <canvas id="test">

        </canvas>

      </div>
<style>
  .style{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    float: left;
    margin-left: 50%;

  }
</style>
<div class="modal fade" id="formproduct"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg"  >
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <div class="container mt-3">
                      <h2>Details Du Produits</h2>
                      <form>
                        <div class="mb-3 mt-3">
                          <label for="name">Nom De l'article:</label>
                          <input type="name" class="form-control" id="name" placeholder="Nom du produit" name="name" [(ngModel)]="articlename">
                        </div>
                        <div class="mb-3">
                          <label for="price">Prix:</label>
                          <input type="text" class="form-control" id="price" placeholder="Le prix" name="price" [(ngModel)]="price">
                        </div>
                        <div class="mb-3">
                          <label for="price">Prix Promo:</label>
                          <input type="text" class="form-control" id="ppromo" placeholder="Prix Promotionnel" name="ppromo" [(ngModel)]="promoprice">
                        </div>
                        <div class="mb-3">
                          <label for="price">quantité disponible:</label>
                          <input type="text" class="form-control" id="qty" placeholder="Quantité" name="qty" [(ngModel)]="qty">
                        </div>
                        <label for="comment">Description:</label>
                        <textarea class="form-control" rows="5" id="description" name="text" [(ngModel)]="details"></textarea>
                        <div class="mb-3">
                        <span> Categories </span>
                          <select class="form-select" (change)="changeCategories($event)" >
                            <option value="choix de categorie" ></option>
                            <option *ngFor="let item of category" [value]="item" > {{item}} </option>
                            
                          </select>
                      </div>
                        <button type="submit" class="btn btn-primary" (click)="register()" >Register</button>
                      </form>
                    </div>
                    
                </div>
              </div>
            </div>
</div>

</div>
