
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" role="button"> 
      <img src="assets/images/logoblanc.png" width="150" alt="" (click)="showbody()"> 
    </a>
    <a class="navbar-brand" role="button" (click)="showcloth()"> 
     Vetements
    </a>
    <a class="navbar-brand" role="button" (click)="showpack()"> 
     Emballages
    </a>
    <a class="navbar-brand" role="button" (click)="showgadget()"> 
      Gadgets
     </a>
     <a class="navbar-brand" role="button" (click)="showprint()"> 
     Imprimés
     </a>
     <a class="navbar-brand" role="button" (click)="showdisp()"> 
      Affichages
     </a>
     <a class="navbar-brand" role="button" (click)="showdesig()"> 
      Design
     </a>
  </div>

 
</nav>
<div class="container-fluid" style="width: 100%;" *ngIf="hideody">
    <img src="assets/Plan.png"  alt="">
  
    <div class="text">
      <h1>Welcome</h1>
      <div class="test">
        <p>to your Dashboard</p>
      </div>
    </div>
</div>

<app-formclothes *ngIf="hidecloth" [categorie]="cat"></app-formclothes>
<app-formpackages *ngIf="hidepacks" [categorie]="cat"></app-formpackages>
<app-formprinted *ngIf="hideprint" [categorie]="cat" ></app-formprinted>
<app-formdisps *ngIf="hidedisp"  [categorie]="cat" ></app-formdisps>
<app-formgadgets *ngIf="hidegadget" [categorie]="cat" ></app-formgadgets>
<app-modelform *ngIf="hidedesign"></app-modelform>